/* Color Variables */
:root {
    --color-primary: #f857a8;
    --color-secondary: #ff5858;
    --color-neutral-lt: #fff;
    --color-neutral-med: #ddd;
    --color-neutral-dk: #444;
    --headings-font: "Saira Semi Condensed", sans-serif;
    --shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Main Gradient */
  .main-gradient {
    background: var(--color-primary);
    background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  }
  
  /* Shadow Box */
  .shadow-box {
    background-color: var(--color-neutral-lt);
    box-shadow: var(--shadow);
  }
  
  /* Skew */
  .skew {
    transform: skew(-20deg);
  }
  
  /* Unskew */
  .un-skew {
    transform: skew(20deg);
  }
  
  /* Reset */
  #menu {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    width: 50px;
  }
  
  #menu:focus,
  input:focus {
    outline: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Layout */
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
  }
  
  #home {
    background-color: #ddd;
  }
  
  #about {
    background-color: #aaa;
  }
  
  #work {
    background-color: #888;
  }
  
  #contact {
    background-color: #666;
  }
  
  /* Helpers */
  .skew {
    transform: skew(-20deg);
  }
  
  .un-skew {
    transform: skew(20deg);
  }
  
  /* Nav */
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    /* Apply shadow-box manually */
    background-color: var(--color-neutral-lt);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    font-family: var(--headings-font);
    height: 4em;
    overflow: hidden;
  }
  
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    /* Apply main-gradient manually */
    background: var(--color-primary);
    background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  
  h1.logo {
    font-weight: 100;
    font-size: 1.75em;
    line-height: 0.75em;
    color: var(--color-neutral-lt);
  }
  
  h1.logo a {
    text-decoration: none;
    color: var(--color-neutral-lt);
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid var(--color-neutral-med);
  }
  
  a {
    text-decoration: none;
    color: var(--color-primary);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: var(--color-primary);
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
      
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link,
    .nav a:visited,
    .nav a:active {
      &.active {
        /* Apply main-gradient manually */
        background: var(--color-primary);
        background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
        background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
        color: #fff;
      }
    }
  
    .nav-link-span {
      /* Apply unskew manually */
      transform: skew(20deg);
      display: inline-block;
      
    }
  
    .nav-link {
      /* Apply skew manually */
      transform: skew(-20deg);
      
      text-decoration: none;
      color: var(--color-primary);

  
      &:last-child {
        padding-right: 3em;
      }
    }
  
    a:hover.nav-link:not(.active) {
      color: var(--color-neutral-dk);
      color: var(--color-primary);
      background: var(--color-neutral-med);
      background: linear-gradient(45deg, var(--color-neutral-lt), #ddd);
    }
  }
  
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 2em;
    }
  }
  